@media (min-width: $tablet) { 
  #landing {
    .window {
      width: 50%;
      height: 60%;
      
      .content {
        div {
          p {
            margin-bottom: 1rem;
            font-size: 1.1rem;
          }
         
        }
      }
    }
  }
}