body {
  font-family: 'Rubik', sans-serif;
  // font-family: 'Source Code Pro', monospace;
}

#main {
  padding-top: 4rem;
}

@mixin flex($fd: column, $jc: center, $ai: center ){
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}