.modal-component {
  position: fixed;
  z-index: 50;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(#000000, 0.5);
  top: -1000%;

  .modal-component-content {
    width: 30%;
    min-width: 300px;
    height: auto;
    min-height: 150px;
    padding: 1rem 1.7rem;
    text-align: center;
  }

  button {
    border: 1px solid #8f8f8f;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
  }

}

.modal-component-active {
  top: 0;
}