@media (min-width: $landscape) {
	header {
		.main {
			nav {
				ul {
					list-style: none;
					padding-top: 5%;

					li {
						margin-bottom: 0rem;
						font-size: 1.7rem;
						padding: 1rem 0;
					}
				}
			}
		}
	}
}
